body {
    counter-reset: my-sec-counter;
}
.bg-ss {
    background: #219f94;
    color: #fff;
    outline: 0;
}

.payment-field input::placeholder {
    text-align: center;
    font-size: 16px;
}

.term-condition a {
    color: #fff;
    border-bottom: 1px solid #eee;
}
.payment__footer button {
    background: #067269;
    border: #067269;
    color: #eee;
    text-transform: uppercase;
    padding: 5px 25px;
}

.payment__call_help {
    color: #fff;
    text-align: center;
}
.payment__call_help a i {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
}

.alert__info-payment {
    padding: 10px;
    box-shadow: 0px 1px 10px #067269;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.term-condition .form-check .form-check-input {
    float: none;
}

.ss-text-danger {
    color: #87021a;
}

.term-condition :checked + label:after, .term-condition :checked + label:after, .term-condition :checked + label:after {
    display: none;
}

.student-courses .card-body{
    padding: 1rem;
}
.student-courses .list-group-item {
    padding: .25rem .25rem;
}

.student-courses .card-footer {
    padding: .625rem .65rem;
}

table#resouce_items a i {
    font-size: 16px;
    position: relative;
    top: 2px;
}
.video-list {
    height: 750px;
    overflow: auto;
}
.video-list .accordion {
    height: 700px;
    border: none;
    border-radius: 0px;
    min-height: auto;
}

.accordion-item {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.video-list ul {list-style: none;margin: 0;padding: 0;}

.video-list ul li {margin: 0;padding: 0;}

.video-list ul li a p {margin: 0; color: #777;}

.video-list ul li a span {color: #777;font-size: 10px;}

.video-list ul li a .col-md-2 {margin: 0;padding: 0;position: relative;top: 5px;}

.video-list ul li::after {
    content: " ";
    background: #eee;
    height: 1px;
    width: 100%;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: -10px;
}


.video-list .accordion-button:not(.collapsed) {
    background-color: transparent;
}
.video-list .accordion-button {
    cursor: pointer;
}
.video-list a.active p, .video-list a.active span{
    color: #219f94;
}

.video-list ul li a p::before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ". ";
}
:root {
    --plyr-color-main: #219f94;
  }

  #lllll {
    content: "";
    background: orange;
    width: 100%;
    height: 361px;
    display: block;
    z-index: 9999;
    position: absolute;
    background-image: url(/public/spinner.gif);
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    background-position: center;
    opacity: 0;
}


.description p {
    line-height: 26px;
    color: #777;
}

video-duration .pl {
    padding-left: 2px!important;
}
.resource__items span {
    font-size: 12px;
    color: #999;
    font-weight: 300;
    line-height: 10px;
}
.resource__items a::before .active{
    color: #209e93;
}
.resource__items a.active {
    background-color: #a7ebd25c !important;
    color: #34c38f !important;
    border: none;
}
.nav-pills .nav-link:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.metismenu li:hover {
    background: #121520;
}
.metismenu li:not(:last-child) {
    border-bottom: 1px solid #1f253e;
}
.metismenu li.mm-active{
    background: #121520;
    border: none;
}
.menu-title {
    background: #219f94;
    color: #fff !important;
    font-size: 14px;
}

.all-courses {
    padding-left: 3.5px;
    padding-right: 3.5px;
}