.bg-ss {
    background: #219f94;
    color: #fff;
    outline: 0;
}

.payment-field input::placeholder {
    text-align: center;
    font-size: 16px;
}

.term-condition a {
    color: #fff;
    border-bottom: 1px solid #eee;
}
.payment__footer button {
    background: #067269;
    border: #067269;
    color: #eee;
    text-transform: uppercase;
    padding: 5px 25px;
}

.payment__call_help {
    color: #fff;
    text-align: center;
}
.payment__call_help a i {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
}

.alert__info-payment {
    padding: 10px;
    box-shadow: 0px 1px 10px #067269;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.term-condition .form-check .form-check-input {
    float: none;
}

.ss-text-danger {
    color: #87021a;
}

.term-condition :checked + label:after, .term-condition :checked + label:after, .term-condition :checked + label:after {
    display: none;
}